.history
/*.iml
/.bsp
/.classpath
/.idea
/.idea_modules
/.project
/.settings
/RUNNING_PID
/out
dist
logs
name.basics.tsv.gz
project/project
project/target
target
title.basics.tsv.gz
title.crew.tsv.gz
title.episode.tsv.gz
title.principals.tsv.gz
title.ratings.tsv.gz
tmp
